<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AcquisitionMD2Transfert.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <AcquisitionMD2Transfert.My.MySettings>
            <setting name="FichierMD2" serializeAs="String">
                <value>./bdd/crodip_dasylab.mdb</value>
            </setting>
            <setting name="CSVMD2" serializeAs="String">
                <value>./bdd/md2.csv</value>
            </setting>
        </AcquisitionMD2Transfert.My.MySettings>
    </applicationSettings>
</configuration>