<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crodip_updater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crodip_updater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Crodip_updater.My.MySettings>
      <setting name="logicielAgent_fileName" serializeAs="String">
        <value>Logiciel Crodip Agent.exe</value>
      </setting>
      <setting name="logicielAgent_pid" serializeAs="String">
        <value>crodip_agent.pid</value>
      </setting>
      <setting name="path_target_tmp_path" serializeAs="String">
        <value>\tmp\update\</value>
      </setting>
      <setting name="file_suffixe" serializeAs="String">
        <value>.updated.old</value>
      </setting>
      <setting name="update_sql_filename" serializeAs="String">
        <value>updates.sql</value>
      </setting>
      <setting name="debug_level" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="debug_type" serializeAs="String">
        <value>file</value>
      </setting>
    </Crodip_updater.My.MySettings>
  </applicationSettings>
  <userSettings>
    <Crodip_updater.My.MySettings>
      <setting name="debug_filename" serializeAs="String">
        <value>\tmp\debug-update.log</value>
      </setting>
      <setting name="chekUpdates" serializeAs="String">
        <value>WS</value>
      </setting>
      <setting name="downloadUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="installUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DatabaseUpdates" serializeAs="String">
        <value>True</value>
      </setting>
    </Crodip_updater.My.MySettings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>