.svn
bin
obj
Backup
CalcCrodip\calcCrodip\bin
CalcCrodip\calcCrodip\obj
CompactDB\bin
CompactDB\obj
CRODIP_ControlLibrary\CRODIP_ControlLibrary\bin
CRODIP_ControlLibrary\CRODIP_ControlLibrary\obj
Crodip_setup/Debug
Crodip_setup/Release
Crodip_updater\bin
Crodip_updater\obj
crodipDiag
DBUpdate/bin
DBUpdate/obj
public
TestCrodop/bin
TestCrodop/obj
TestResults
*.zip
/.vs
/SetupAgent/Release
/SetupAgent/Debug
*.nupkg
/RESYNCHRO
/GestEquip2
*.dll
/packages/CsvHelper.30.0.1
/packages/NLog.5.2.8
/packages/CsvHelper.30.0.1
/TESTWSCRODIP/Debug
/CRODIPWS/.vs/CRODIPWS/v15
