<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crodip_agent.ReglagePulve" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Crodip_agent.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crodip_agent.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings />
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.5.1964" newVersion="2.1.5.1964" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Crodip_agent.MySettings>
      <setting name="AutoTestDefaultFileName" serializeAs="String">
        <value>public/Exports/AutoTest.csv</value>
      </setting>
      <setting name="Expect100Continue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ModuleDocumentaire" serializeAs="String">
        <value>moduledocumentaire</value>
      </setting>
      <setting name="ParamDiagRampe" serializeAs="String">
        <value>moduleDocumentaire/_parametres/ParamdiagRampe.xml</value>
      </setting>
      <setting name="ParamDiagArboviti" serializeAs="String">
        <value>moduleDocumentaire/_parametres/ParamdiagArboViti.xml</value>
      </setting>
      <setting name="RepertoireParametres" serializeAs="String">
        <value>moduledocumentaire/_parametres</value>
      </setting>
      <setting name="nbControlesAvantAlerteMax" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TxTVADefaut" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="FTPuser" serializeAs="String">
        <value>crodip-pdf</value>
      </setting>
      <setting name="FTPPassword" serializeAs="String">
        <value>bvdkEn5xnQx</value>
      </setting>
      <setting name="FTPUserTest" serializeAs="String">
        <value>crodip-pp-pdf</value>
      </setting>
      <setting name="FTPPasswordTest" serializeAs="String">
        <value>3xnF9fTxWqL</value>
      </setting>
      <setting name="NbIdentifiantPulveMini" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="FTPUsePassiveMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WSCrodipProduction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DesacMat" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumVersion" serializeAs="String">
        <value>2.6</value>
      </setting>
      <setting name="urlCRODIP" serializeAs="String">
        <value>admin.crodip.fr</value>
      </setting>
      <setting name="SecurityProtocol" serializeAs="String">
        <value>4080</value>
      </setting>
      <setting name="AutoSync" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SynchroEtatDiagUrl" serializeAs="String">
        <value>/index/envoi-diagnostic-pdf</value>
      </setting>
      <setting name="SynchroEtatDiagUser" serializeAs="String">
        <value>inutilisé pour l'instant</value>
      </setting>
      <setting name="SynhcroEtatDiagPwd" serializeAs="String">
        <value>inutilisé pour l'instant</value>
      </setting>
      <setting name="SynchroDescGetEtat" serializeAs="String">
        <value>../pdf/</value>
      </setting>
      <setting name="SynchroEtatFVBancUrl" serializeAs="String">
        <value>/index/envoi-fv-banc-pdf</value>
      </setting>
      <setting name="SynchroEtatTVManoUrl" serializeAs="String">
        <value>/index/envoi-fv-mano-controle-pdf</value>
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>NORMAL</value>
      </setting>
      <setting name="checkNetwork" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DB" serializeAs="String">
        <value>crodip_agent</value>
      </setting>
      <setting name="BDDType" serializeAs="String">
        <value>SQLITE</value>
      </setting>
      <setting name="StockPDF" serializeAs="String">
        <value>DOSSIERCACHE</value>
      </setting>
      <setting name="SynchroEtatFVBancUser" serializeAs="String">
        <value>inutilisé</value>
      </setting>
      <setting name="SynchroEtatFVBancpwd" serializeAs="String">
        <value>inutilisé</value>
      </setting>
      <setting name="GestionDesPools" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DBExtension" serializeAs="String">
        <value>.db3</value>
      </setting>
      <setting name="WSCrodipURLTEST" serializeAs="String">
        <value>https://admin-pp.crodip.net/server</value>
      </setting>
      <setting name="aqw" serializeAs="String">
        <value>zsx</value>
      </setting>
      <setting name="DBVersionExpected" serializeAs="String">
        <value>V3.1.01</value>
      </setting>
      <setting name="WSCrodipURL" serializeAs="String">
        <value>https://admin.crodip.net/server</value>
      </setting>
      <setting name="FTPHost" serializeAs="String">
        <value>admin.crodip.net</value>
      </setting>
      <setting name="FTPHostTest" serializeAs="String">
        <value>admin-test.crodip.net</value>
      </setting>
      <setting name="GPSApplication" serializeAs="String">
        <value>CRODIPGPSFULL.EXE</value>
      </setting>
      <setting name="GPSCSV" serializeAs="String">
        <value>crodipgps.csv</value>
      </setting>
      <setting name="NumBuild" serializeAs="String">
        <value>20240715170000</value>
      </setting>
      <setting name="AppercuRecap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AcquisitionGPS" serializeAs="String">
        <value>True</value>
      </setting>
    </Crodip_agent.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <Crodip_agent.MySettings>
      <setting name="DernierControleCodePostal" serializeAs="String">
        <value />
      </setting>
      <setting name="DernierControleCommune" serializeAs="String">
        <value />
      </setting>
      <setting name="DernierControleSite" serializeAs="String">
        <value />
      </setting>
      <setting name="DernierControleNomDuSite" serializeAs="String">
        <value />
      </setting>
      <setting name="DernierControleTerritoire" serializeAs="String">
        <value />
      </setting>
      <setting name="DernierControleNomRepresentant" serializeAs="String">
        <value />
      </setting>
      <setting name="DernierControleSiteSecurise" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DernierControleRecupResidus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DernierControleInfosChezProp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="nbControlesAvantAlerte" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ModeSignature" serializeAs="String">
        <value>wacom</value>
      </setting>
    </Crodip_agent.MySettings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>