<?xml version="1.0"?>
<configuration>
  <configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Crodip_agent.ReglagePulve" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   <section name="Crodip_agent.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Crodip_agent.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <connectionStrings/>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup><runtime>
	</runtime>
  <applicationSettings>
  <Crodip_agent.ReglagePulve>
    <setting name="Test" serializeAs="String">
      <value>Valeur de test</value>
    </setting>
  </Crodip_agent.ReglagePulve>
  <Crodip_agent.MySettings>
    <setting name="WSCrodipURL" serializeAs="String">
      <value>http://admin.crodip.fr/server</value>
    </setting>
    <setting name="WSCrodipURLTEST" serializeAs="String">
      <value>http://admin-pp.crodip.fr/server</value>
    </setting>
    <setting name="ModuleDocumentaire" serializeAs="String">
      <value>moduledocumentaire</value>
    </setting>
    <setting name="ParamDiagRampe" serializeAs="String">
      <value>moduleDocumentaire/_parametres/ParamdiagRampe.xml</value>
    </setting>
    <setting name="ParamDiagArboviti" serializeAs="String">
      <value>moduleDocumentaire/_parametres/ParamdiagArboViti.xml</value>
    </setting>
    <setting name="AutoSync" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="NumVersion" serializeAs="String">
      <value>2.5.4</value>
    </setting>
    <setting name="RepertoireParametres" serializeAs="String">
      <value>moduledocumentaire/_parametres</value>
    </setting>
    <setting name="nbControlesAvantAlerteMax" serializeAs="String">
      <value>10</value>
    </setting>
    <setting name="TxTVADefaut" serializeAs="String">
      <value>20</value>
    </setting>
    <setting name="FTPHost" serializeAs="String">
      <value>ourea.cognix-systems.net</value>
    </setting>
    <setting name="FTPuser" serializeAs="String">
      <value>crodip-pdf</value>
    </setting>
    <setting name="FTPPassword" serializeAs="String">
      <value>bvdkEn5xnQx</value>
    </setting>
    <setting name="FTPHostTest" serializeAs="String">
      <value>ourea.cognix-systems.net</value>
    </setting>
    <setting name="FTPUserTest" serializeAs="String">
      <value>crodip-pp-pdf</value>
    </setting>
    <setting name="FTPPasswordTest" serializeAs="String">
      <value>3xnF9fTxWqL</value>
    </setting>
    <setting name="NbIdentifiantPulveMini" serializeAs="String">
      <value>20</value>
    </setting>
    <setting name="FTPUsePassiveMode" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="DBVersionExpected" serializeAs="String">
      <value>V2.5.4.6</value>
    </setting>
    <setting name="NumBuild" serializeAs="String">
      <value>20180502170000</value>
    </setting>
    <setting name="WSCrodipProduction" serializeAs="String">
      <value>False</value>
    </setting>
  </Crodip_agent.MySettings>
 </applicationSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="CrodipBinding"/>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://admin-pp.crodip.fr/server" binding="basicHttpBinding" bindingConfiguration="CrodipBinding" contract="WSCrodip2.CrodipServer" name="CrodipServer"/>
  </client>
 </system.serviceModel>
 <userSettings>
  <Crodip_agent.MySettings>
   <setting name="AutoTestDefaultFileName" serializeAs="String">
    <value>public/Exports/AutoTest.csv</value>
   </setting>
   <setting name="Expect100Continue" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DernierControleCodePostal" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleCommune" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleSite" serializeAs="String">
    <value />
   </setting>
   <setting name="CVgratuite" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DernierControleNomDuSite" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleTerritoire" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleNomRepresentant" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleSiteSecurise" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DernierControleRecupResidus" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DernierControleInfosChezProp" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="nbControlesAvantAlerte" serializeAs="String">
    <value>0</value>
   </setting>
  </Crodip_agent.MySettings>
 </userSettings>
</configuration>
