<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Crodip_agent.ReglagePulve" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="Crodip_agent.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crodip_agent.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
 </configSections>
  <connectionStrings />
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	   <dependentAssembly>
	    <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	    <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
	   </dependentAssembly>
	   <dependentAssembly>
	    <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	    <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
	   </dependentAssembly>
	  </assemblyBinding>
  </runtime>
  <applicationSettings>
  <Crodip_agent.MySettings>
    <setting name="AutoTestDefaultFileName" serializeAs="String">
      <value>public/Exports/AutoTest.csv</value>
    </setting>
    <setting name="Expect100Continue" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="ModuleDocumentaire" serializeAs="String">
      <value>moduledocumentaire</value>
    </setting>
    <setting name="ParamDiagRampe" serializeAs="String">
      <value>moduleDocumentaire/_parametres/ParamdiagRampe.xml</value>
    </setting>
    <setting name="ParamDiagArboviti" serializeAs="String">
      <value>moduleDocumentaire/_parametres/ParamdiagArboViti.xml</value>
    </setting>
    <setting name="RepertoireParametres" serializeAs="String">
      <value>moduledocumentaire/_parametres</value>
    </setting>
    <setting name="nbControlesAvantAlerteMax" serializeAs="String">
      <value>10</value>
    </setting>
    <setting name="TxTVADefaut" serializeAs="String">
      <value>20</value>
    </setting>
    <setting name="FTPuser" serializeAs="String">
      <value>crodip-pdf</value>
    </setting>
    <setting name="FTPPassword" serializeAs="String">
      <value>bvdkEn5xnQx</value>
    </setting>
    <setting name="FTPUserTest" serializeAs="String">
      <value>crodip-pp-pdf</value>
    </setting>
    <setting name="FTPPasswordTest" serializeAs="String">
      <value>3xnF9fTxWqL</value>
    </setting>
    <setting name="NbIdentifiantPulveMini" serializeAs="String">
      <value>20</value>
    </setting>
    <setting name="FTPUsePassiveMode" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="WSCrodipProduction" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="DesacMat" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="NumVersion" serializeAs="String">
      <value>2.6</value>
    </setting>
    <setting name="urlCRODIP" serializeAs="String">
      <value>admin.crodip.fr</value>
    </setting>
    <setting name="SecurityProtocol" serializeAs="String">
      <value>4080</value>
    </setting>
    <setting name="FTPHost" serializeAs="String">
      <value>admin.crodip.fr</value>
    </setting>
    <setting name="FTPHostTest" serializeAs="String">
      <value>admin-pp.crodip.fr</value>
    </setting>
    <setting name="AutoSync" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="SynchroEtatDiagUrl" serializeAs="String">
      <value>/index/envoi-diagnostic-pdf</value>
    </setting>
    <setting name="SynchroEtatDiagUser" serializeAs="String">
      <value>inutilisé pour l'instant</value>
    </setting>
    <setting name="SynhcroEtatDiagPwd" serializeAs="String">
      <value>inutilisé pour l'instant</value>
    </setting>
    <setting name="SynchroDescGetEtat" serializeAs="String">
      <value>../pdf/</value>
    </setting>
    <setting name="SynchroEtatFVBancUrl" serializeAs="String">
      <value>/index/envoi-fv-banc-pdf</value>
    </setting>
    <setting name="SynchroEtatTVManoUrl" serializeAs="String">
      <value>/index/envoi-fv-mano-controle-pdf</value>
    </setting>
    <setting name="SynchroEtatFVBancUser" serializeAs="String">
      <value>inutilisé pour l'instant</value>
    </setting>
    <setting name="SynchroEtatFVManoUser" serializeAs="String">
      <value>inutilisé pour l'instant</value>
    </setting>
    <setting name="SynhcroEtatFVBancPwd" serializeAs="String">
      <value>inutilisé pour l'instant</value>
    </setting>
    <setting name="SynhcroEtatFVManoPwd" serializeAs="String">
      <value>inutilisé pour l'instant</value>
    </setting>
    <setting name="SynchroEtatMode" serializeAs="String">
      <value>HTTP</value>
    </setting>
    <setting name="WSCrodipURL" serializeAs="String">
      <value>https://admin.crodip.fr/server</value>
    </setting>
    <setting name="WSCrodipURLTEST" serializeAs="String">
      <value>https://admin-pp.crodip.fr/server</value>
    </setting>
    <setting name="DBVersionExpected" serializeAs="String">
      <value>V2.7.02</value>
    </setting>
    <setting name="Mode" serializeAs="String">
      <value>NORMAL</value>
    </setting>
    <setting name="DB" serializeAs="String">
      <value>crodip_agent</value>
    </setting>
    <setting name="DBExtension" serializeAs="String">
      <value>.mdb</value>
    </setting>
    <setting name="StockPDF" serializeAs="String">
      <value>DOSSIERCACHE</value>
    </setting>
    <setting name="TypeStockPDF" serializeAs="String">
      <value>DIR</value>
    </setting>
    <setting name="NumBuild" serializeAs="String">
      <value>20210712130000</value>
    </setting>
  </Crodip_agent.MySettings>
 </applicationSettings>
 <system.serviceModel>
  <bindings />
  <client />
 </system.serviceModel>
 <userSettings>
  <Crodip_agent.MySettings>
   <setting name="DernierControleCodePostal" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleCommune" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleSite" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleNomDuSite" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleTerritoire" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleNomRepresentant" serializeAs="String">
    <value />
   </setting>
   <setting name="DernierControleSiteSecurise" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DernierControleRecupResidus" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DernierControleInfosChezProp" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="nbControlesAvantAlerte" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ModeSignature" serializeAs="String">
    <value>wacom</value>
   </setting>
  </Crodip_agent.MySettings>
 </userSettings>
</configuration>
