<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
  <sites_proprietaire>
	<site>
		<id>1</id>
		<libelle>Autre</libelle>
	</site>
	<site>
		<id>2</id>
		<libelle>Chez propriétaire</libelle>
	</site>
	<site>
		<id>3</id>
		<libelle>Coopérative</libelle>
	</site>
	<site>
		<id>4</id>
		<libelle>CUMA</libelle>
	</site>
	<site>
		<id>5</id>
		<libelle>ETA</libelle>
	</site>
	<site>
		<id>6</id>
		<libelle>Négoce</libelle>
	</site>
	<site>
		<id>7</id>
		<libelle>OP</libelle>
	</site>
	<site>
		<id>8</id>
		<libelle>Organisme INDIGO</libelle>
	</site>
	<site>
		<id>9</id>
		<libelle>Partenaire artisan</libelle>
	</site>
	<site>
		<id>10</id>
		<libelle>Partenaire concessionnaire</libelle>
	</site>
	<site>
		<id>11</id>
		<libelle>Propriétaire voisin</libelle>
	</site>
  </sites_proprietaire>
  <territoires_proprietaire>
	<territoire>
		<id>1</id>
		<libelle>BV Autre</libelle>
	</territoire>
	<territoire>
		<id>2</id>
		<libelle>BV Aber Benoît - Aber Wrac'h aval</libelle>
	</territoire>
	<territoire>
		<id>3</id>
		<libelle>BV Aber Wrac'h amont</libelle>
	</territoire>
	<territoire>
		<id>4</id>
		<libelle>BV Aff est (GBO)</libelle>
	</territoire>
	<territoire>
		<id>5</id>
		<libelle>BV Aff ouest (GBO)</libelle>
	</territoire>
	<territoire>
		<id>6</id>
		<libelle>BV Arguenon</libelle>
	</territoire>
	<territoire>
		<id>7</id>
		<libelle>BV Arz (GBO)</libelle>
	</territoire>
	<territoire>
		<id>8</id>
		<libelle>BV Aven-Belon-Merrien</libelle>
	</territoire>
	<territoire>
		<id>9</id>
		<libelle>BV de l'Odet à l'Aven (Moros-Lesnevard-Mer blanche)</libelle>
	</territoire>
	<territoire>
		<id>10</id>
		<libelle>BV Baie de Douarnenez (Porzay-Ris)</libelle>
	</territoire>
	<territoire>
		<id>11</id>
		<libelle>BV Baie de la Fresnaye</libelle>
	</territoire>
	<territoire>
		<id>12</id>
		<libelle>BV Bas Couesnon</libelle>
	</territoire>
	<territoire>
		<id>13</id>
		<libelle>BV Beuvron-Sélune</libelle>
	</territoire>
	<territoire>
		<id>14</id>
		<libelle>BV Blavet costarmoricain</libelle>
	</territoire>
	<territoire>
		<id>15</id>
		<libelle>BV Chère</libelle>
	</territoire>
	<territoire>
		<id>16</id>
		<libelle>BV Chevré</libelle>
	</territoire>
	<territoire>
		<id>17</id>
		<libelle>BV Claie (GBO)</libelle>
	</territoire>
	<territoire>
		<id>18</id>
		<libelle>BV Evel</libelle>
	</territoire>
	<territoire>
		<id>19</id>
		<libelle>BV Flora-Islet et ruisseaux côtiers</libelle>
	</territoire>
	<territoire>
		<id>20</id>
		<libelle>BV Flume </libelle>
	</territoire>
	<territoire>
		<id>21</id>
		<libelle>BV Frémur </libelle>
	</territoire>
	<territoire>
		<id>22</id>
		<libelle>BV Gouessant</libelle>
	</territoire>
	<territoire>
		<id>23</id>
		<libelle>BV Gouët</libelle>
	</territoire>
	<territoire>
		<id>24</id>
		<libelle>BV Goyen</libelle>
	</territoire>
	<territoire>
		<id>25</id>
		<libelle>BV Guinefort</libelle>
	</territoire>
	<territoire>
		<id>26</id>
		<libelle>BV Haut Couesnon</libelle>
	</territoire>
	<territoire>
		<id>27</id>
		<libelle>BV Haute Rance</libelle>
	</territoire>
	<territoire>
		<id>28</id>
		<libelle>BV Horn-Guillec-Kéralé</libelle>
	</territoire>
	<territoire>
		<id>29</id>
		<libelle>BV Ic et ruisseaux côtiers</libelle>
	</territoire>
	<territoire>
		<id>30</id>
		<libelle>BV Ille et Illet</libelle>
	</territoire>
	<territoire>
		<id>31</id>
		<libelle>BV Jaudy-Guindy-Bizien</libelle>
	</territoire>
	<territoire>
		<id>32</id>
		<libelle>BV Kermorvan</libelle>
	</territoire>
	<territoire>
		<id>33</id>
		<libelle>BV Leff et ruisseaux côtiers</libelle>
	</territoire>
	<territoire>
		<id>34</id>
		<libelle>BV Léguer</libelle>
	</territoire>
	<territoire>
		<id>35</id>
		<libelle>BV Lieue de Grève</libelle>
	</territoire>
	<territoire>
		<id>36</id>
		<libelle>BV Linon</libelle>
	</territoire>
	<territoire>
		<id>37</id>
		<libelle>BV Loc'h et Sal</libelle>
	</territoire>
	<territoire>
		<id>38</id>
		<libelle>BV Loisance-Minette</libelle>
	</territoire>
	<territoire>
		<id>39</id>
		<libelle>BV Meu</libelle>
	</territoire>
	<territoire>
		<id>40</id>
		<libelle>BV Ninian (GBO)</libelle>
	</territoire>
	<territoire>
		<id>41</id>
		<libelle>BV Odet</libelle>
	</territoire>
	<territoire>
		<id>42</id>
		<libelle>BV Oust amont-Lié</libelle>
	</territoire>
	<territoire>
		<id>43</id>
		<libelle>BV Oust aval (GBO)</libelle>
	</territoire>
	<territoire>
		<id>44</id>
		<libelle>BV Oust moyen (GBO)</libelle>
	</territoire>
	<territoire>
		<id>45</id>
		<libelle>BV Penzé</libelle>
	</territoire>
	<territoire>
		<id>46</id>
		<libelle>BV Quillimadec</libelle>
	</territoire>
	<territoire>
		<id>47</id>
		<libelle>BV Rade-Elorn</libelle>
	</territoire>
	<territoire>
		<id>48</id>
		<libelle>BV Rance Aval</libelle>
	</territoire>
	<territoire>
		<id>49</id>
		<libelle>BV Ria d'Etel</libelle>
	</territoire>
	<territoire>
		<id>50</id>
		<libelle>BV Rivière de Pénerf</libelle>
	</territoire>
	<territoire>
		<id>51</id>
		<libelle>BV Rivière de Pont l'Abbé</libelle>
	</territoire>
	<territoire>
		<id>52</id>
		<libelle>BV Scorff</libelle>
	</territoire>
	<territoire>
		<id>53</id>
		<libelle>BV Seiche</libelle>
	</territoire>
	<territoire>
		<id>54</id>
		<libelle>BV Semnon</libelle>
	</territoire>
	<territoire>
		<id>55</id>
		<libelle>BV Trégor (Dourduff-Jarlot-Douron-Queffleuth)</libelle>
	</territoire>
	<territoire>
		<id>56</id>
		<libelle>BV Trévelo</libelle>
	</territoire>
	<territoire>
		<id>57</id>
		<libelle>BV Trieux et côtiers de Lézardrieux</libelle>
	</territoire>
	<territoire>
		<id>58</id>
		<libelle>BV Urne</libelle>
	</territoire>
	<territoire>
		<id>59</id>
		<libelle>BV Vilaine amont</libelle>
	</territoire>
	<territoire>
		<id>60</id>
		<libelle>BV Yvel-Hyvet (GBO)</libelle>
	</territoire>	
  </territoires_proprietaire>
</root>

