<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MigrationDiagnostic.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-2.1.5.1964" newVersion="2.1.5.1964" />
        </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
         </dependentAssembly>
      </assemblyBinding>
    </runtime>
  
    <applicationSettings>
        <MigrationDiagnostic.My.MySettings>
            <setting name="DB" serializeAs="String">
                <value>crodip_agent</value>
            </setting>
            <setting name="DBExtension" serializeAs="String">
                <value>.mdb</value>
            </setting>
            <setting name="AutoSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="NumBuild" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamDiagRampe" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamDiagArboViti" serializeAs="String">
                <value />
            </setting>
            <setting name="RepertoireParametres" serializeAs="String">
                <value />
            </setting>
            <setting name="BDDType" serializeAs="String">
                <value>SQLITE</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>NORMAL</value>
            </setting>
            <setting name="StockPDF" serializeAs="String">
                <value />
            </setting>
            <setting name="DBMSACESS" serializeAs="String">
                <value>bdd/crodip_agent.mdb</value>
            </setting>
            <setting name="DBSQLITE" serializeAs="String">
                <value>bdd/crodip_agent.db3</value>
            </setting>
            <setting name="DBMSACESS2" serializeAs="String">
                <value>bdd/crodip_agent.mdw</value>
            </setting>
            <setting name="DBOLEDBPROVIDER" serializeAs="String">
                <value>Microsoft.ACE.OLEDB.12.0</value>
            </setting>
        </MigrationDiagnostic.My.MySettings>
    </applicationSettings>
</configuration>