<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRODIPGPS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CRODIPGPS.My.MySettings>
      <setting name="RepertoireExport" serializeAs="String">
        <value>MESURESGPS</value>
      </setting>
      <!-- Intervalle de lecture en milliseconds Defaut = 100-->
      <setting name="intervalGPS" serializeAs="String">
        <value>100</value>
      </setting>
      <!-- Nb de vitesse constante demandée (5)-->
      <setting name="nbIntervalleVitesseConstante" serializeAs="String">
        <value>5</value>
      </setting>
      <!-- Ecart de vitesse acceptable (0.05)-->
      <setting name="EcartMAx" serializeAs="String">
        <value>0.05</value>
      </setting>
      <!-- Vitesse Lue par defaut(8.5)-->
      <setting name="VitesseLue" serializeAs="String">
        <value>8.5</value>
      </setting>
      <!-- vitesse au dessous de laquelle il faut faire une Distance D1 (15)-->
      <setting name="LimiteVitesse" serializeAs="String">
        <value>15</value>
      </setting>
      <!-- Distance Mini 1 (50)-->
      <setting name="Distance1" serializeAs="String">
        <value>50</value>
      </setting>
      <!-- Distance Mini 2 (100)-->
      <setting name="Distance2" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="VitessePort" serializeAs="String">
        <value>9600</value>
      </setting>
      <!-- Mode test au démarrage(False)-->
      <setting name="Test" serializeAs="String">
        <value>False</value>
      </setting>
    </CRODIPGPS.My.MySettings>
  </applicationSettings>
</configuration>