<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRODIPGPS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CRODIPGPS.My.MySettings>
      <setting name="FichierExport" serializeAs="String">
        <value>crodipgps.csv</value>
      </setting>
      <setting name="intervalGPS" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="nbIntervalleVitesseConstante" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="EcartMAx" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="VitesseLue" serializeAs="String">
        <value>8.5</value>
      </setting>
      <setting name="LimiteVitesse" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Distance1" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="Distance2" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="VitessePort" serializeAs="String">
        <value>9600</value>
      </setting>
    </CRODIPGPS.My.MySettings>
  </applicationSettings>
</configuration>